.submitButton{
    width: 100%;
    height: auto;
    padding: 16px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    background-color: #B026FF;
    color: white;
    transition: background-color 0.1s ease-in;
}

.submitButton:hover{
    background-color: #603FEF;
}